$primary: #153B50;

$accent-01: #429EA6;
$accent-02: #16F4D0;

$ui-main: #0B2E41;
$ui-secondary: #5D859B;
$ui-tertiary: #bddde0;
$ui-quaternary: #e3f0f2;
$white: #FFF;

//message colors
$success: #226f54;
$error: #93032E;
$info: #ecebe4;
